.user-msg {
  align-items: flex-start;
  background-color: #0085ff;
  border: 2px solid #0085ff;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  word-wrap: break-word;
  position: relative;
}

.chatbot-msg {
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 24px;
  position: relative;
}

.loan-links {
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  display: flex;
  color: black;
  padding: 12px;
  border-radius: 24px;
}

.msg-to-right {
  display: inline-block;
  max-width: 70%;
  margin-left: auto;
}

.msg-to-left {
  display: inline-block;
  max-width: 70%;
  margin-right: auto;
}

.msg-time {
  margin-left: auto;
  font-size: 12px;
}

.is-a-link {
  background-color: red;
  display: inline-block;
  max-width: 70%;
  margin-right: auto;
}
