.chat-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.msgs-history {
  display: flex;
  flex-direction: column;
}

.historic-links-wrapper {
  display: flex;
  flex-direction: column;
}

.historic-link {
  padding: 8px;
}

.historic-link:hover {
  background-color: gray;
  color: white;
}

@media screen and (min-width: 720px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .teste {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40vw;
  }
}
