.chat-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.msgs-history {
  display: flex;
  flex-direction: column;
}

.historic-links-wrapper {
  display: flex;
  flex-direction: column;
}

.historic-link {
  padding: 8px;
}

.historic-link:hover {
  background-color: gray;
  color: white;
}