.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 8px;
  margin: 8px;
  height: 100vh;
}

.message-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 0px;
  margin-top: 8px;
}

.input {
  border: 1px solid;
  border-radius: 16px;
  padding: 12px;
  width: 75%;
}

.send-btn {
  border-radius: 16px;
  background-color: #0085ff;
  width: 20%;
  border: none;
  color: white;
  cursor: pointer;
}

.chat-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
