.main {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 8px;
  margin: 8px;
  height: 100vh;
}

.message-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  padding: 12px;
}

.send-btn {
  background-color: blue;
  width: 24%;
  border: none;
  color: white;
}

.chat-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

