.main {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 8px;
  margin: 8px;
  height: 100vh;
}

.message-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  padding: 12px;
}

.send-btn {
  background-color: blue;
  width: 24%;
  border: none;
  color: white;
}

.user-msg {
  background-color: #0085ff;
  border: 2px solid #0085ff;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  position: relative;
}

.chatbot-msg {
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 24px;
  position: relative;
}

.chat-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.msg-to-right {
  width: 70%;
  margin-left: auto;
}

.msg-to-left {
  width: 70%;
  margin-right: auto;
}
